body {
    margin: 0;
    min-height: 100vh;
    background-image: url('dimsum.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
}

header {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

ul {
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 32px;
}

li {
    list-style: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    flex: 1;
    padding-bottom: 20px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    height: 200px;
    width: 250px;
    border: 2px solid #7a4221;
    border-radius: 10px;
}

.dish {
    text-align: center;
    padding: 10px;
    min-width: 40vw;
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0px;
}

.dish>p {
    margin: 0px;
    padding: 5px 0px;
}

footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-content: center;
    justify-content: center;
}

footer>p {
    font-size: 0.8rem;
    cursor: pointer;
}

form {
    padding: 20px;
    font-weight: 700;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

main>p {
    margin: 0px;
}

input,
textarea {
    padding: 0.5rem;
}

textarea {
    resize: none;
    height: 120px;
}

button {
    padding: 0.5rem;
    font-weight: 700;
    color: white;
    background-color: #7a4221;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

button:hover {
    background-color: #552d16;
}
